<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>Register</h1>

    <form action="/register" method="POST">

        <label htmlFor="username">UserName</label>
        <input name="username" palceholder="Enter Username" type="text" />

        <label htmlFor="email">Email</label>
        <input name="email" palceholder="Enter email" type="email" />

        <label htmlFor="password"></label>
        <input type="password" name="password" placeholder="password" />

        <button>Register</button>
    </form>
    <p>already have an account?</p>
    <a href="/login">Login</a>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Your JavaScript code here
            const element = document.querySelector('.some-class');
            if (element) {
                element.classList.add('new-class');
            }
        });
    </script>
</body>

</html>